body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(download.jpg); 
    background-repeat: repeat; 
    background-size: 100%; 
    filter: brightness(-30px); 
}

input, button { 
    padding: 10px; 
    margin: 5px; 
}

@media (max-width: 768px) { 
    .container { 
        grid-template-columns: 1fr; 
    } 
}

.courier { 
    border: 1px solid #cccccc46; 
    border-radius: 10px; 
    color: aliceblue; 
    padding: 20px; 
    margin: 10px; 
    background-color: #ffffff00; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(2px); 
}

.courier img { 
    max-width: 20%; 
    height: 20%; 
}

h1 { 
    text-align: center; 
    position: relative; 
    top: 30px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 40px; 
}
